/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* Основной стиль сайта */
body, input, button {
  font-family: 'Montserrat', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* Шапки сайта */
.site-header, .site-footer {
  padding: 35px 20px;
  text-align: center;
  background-color: #f8f8f8;
}

.site-title {
  margin-bottom: -5px;
  text-decoration: none;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #333;
  text-transform: uppercase;
}

.site-tagline {
  margin-bottom: 80px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #666;
  text-transform: uppercase;
}

/* Меню навигации */
.nav-list {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
  text-transform: uppercase;
  gap: 40px;
}

.nav-link {
  padding: 5px 10px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ED6019;
}

/* Заголовок страницы */
.page-header {
  position: relative;
  margin: 50px auto;
  text-align: center;
}

.page-title {
  position: relative;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #f99462;
  text-transform: uppercase;
}

/* Стиль для контейнера поиска */
.store-search-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

/* Стиль для поля ввода */
.store-search-input {
  max-width: 450px;
  width: 100%;
  padding: 9px;
  font-size: 15px;
  color: #666;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
}

/* Стиль для кнопки поиска */
.store-search-button {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  background-color: #f99462;
}

.store-search-button:hover {
  background-color: #ED6019;
}

/* Стиль для контейнера поиска в библиотеке*/
.library-search-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

/* Стиль для поля ввода в библиотеке */
.library-search-input {
  max-width: 450px;
  width: 100%;
  padding: 9px;
  font-size: 15px;
  color: #666;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
}

/* Стиль для кнопки поиска в библиотеке */
.library-search-button {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  background-color: #f99462;
}

.library-search-button:hover {
  background-color: #ED6019;
}

/* Список книг */
#book-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 80px;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
}

@media (max-width: 768px) {
  #book-list {
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 2rem;
  }
}

@media (max-width: 480px) {
  #book-list {
    padding-left: 10px;
    padding-right: 10px;
    gap: 1rem;
  }
}

/* Список клиентов */
#client-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -10px;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 50px;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
}

@media (max-width: 768px) {
  #client-list {
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 2rem;
  }
}

@media (max-width: 480px) {
  #client-list {
    padding-left: 10px;
    padding-right: 10px;
    gap: 1rem;
  }
}

/* Карточка клиента */
.client-card {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 370px;
  text-align: center; /* Центрируем содержимое карточки */
  position: relative;
  overflow: hidden; /* Чтобы изображения не выходили за пределы карточки */
}

.client-image {
  width: 100%; /* Ширина изображения на всю ширину карточки */
  height: 350px; /* Ограничиваем высоту изображения */
  object-fit: cover; /* Изображение будет заполнять пространство карточки, обрезая лишнее, если нужно */
  border-radius: 5px; /* Закругление углов */
}

/* Стили для заглушки изображения (прямоугольник) */
.client-image-placeholder {
  width: 100%; /* Ширина прямоугольника на всю ширину карточки */
  height: 350px; /* Высота прямоугольника */
  background-color: #f0f0f0; /* Цвет фона прямоугольника */
  border-radius: 5px; /* Закругление углов прямоугольника */
}

@media (max-width: 768px) {
  .client-card {
    width: 100%;
    padding: 20px;
  }

  .client-image {
    height: 250px; /* Уменьшаем высоту изображений на маленьких экранах */
  }
}

/* Список книг клиента */
#client-book-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 30px;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
}

@media (max-width: 768px) {
  #client-book-list {
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 2rem;
  }
}

@media (max-width: 480px) {
  #client-book-list {
    padding-left: 10px;
    padding-right: 10px;
    gap: 1rem;
  }
}

/* Карточка книги */
.book-card {
  position: relative;
  width: 370px;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  overflow: hidden;
}

.book-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
}

.book-video {
  width: 100%;
  height: 350px;
  object-position: top;
  object-fit: cover;
  border-radius: 5px;
}

/* Стили для заглушки изображения (прямоугольник) */
.book-image-placeholder {
  width: 100%;
  height: 350px;
  border-radius: 5px;
  background-color: #fff;
}

@media (max-width: 768px) {
  .book-card {
    width: 100%;
    padding: 20px;
  }

  .book-image {
    height: 250px;
  }

  .book-video {
    height: 250px;
  }
}

h3 {
  position: relative;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #333;
  text-transform: uppercase;
}

/* Добавим эффект подчеркивания с помощью псевдо-элемента */
h3::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2.1px;
  background-color: #ED6019;
}

/* Автор */
.book-author {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* Цена */
.book-price, .client-balance {
  padding-bottom: 6px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.client-card .client-balance {
  margin-bottom: 0;
}

.book-author, .book-price {
  margin: 0;
  line-height: 2;
}

.client-book-list .book-author {
  margin-bottom: 5px;
}

.book-button {
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  background: #f99462;
}

.book-button:hover {
  background: #ED6019;
}

/* Стили для секции добавления книги */
.add-book-section {
  max-width: 600px;
  margin: 30px auto 60px;
  padding: 12px 20px 38px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
}

/* Стили для формы добавления книги */
.add-book-form input {
  max-width: 500px;
  width: 100%;
  margin-bottom: 17px;
  padding: 10px;
  font-size: 15px;
  color: #666;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Контейнер для кнопок */
.add-book-button-container {
  display: flex;
  max-width: 500px;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}

/* Для кнопок */
.add-image,
.add-book-button,
.clear-form-button {
  flex: 1;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  background-color: #f99462;
}

/* При наведении */
.add-image:hover,
.add-book-button:hover,
.clear-form-button:hover {
  background-color: #ED6019;
}

/* Нижний колонтитул */
.site-footer .site-title {
  margin-bottom: -5px;
  font-size: 46px;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: #333;
  text-transform: uppercase;
}

.site-footer .site-tagline {
  margin-bottom: 80px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #666;
  text-transform: uppercase;
}

.newsletter-title {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #333;
}

.newsletter-text {
  margin-bottom: 20px;
  font-size: 16px;
  color: #666;
}

.newsletter-form-container {
  margin-bottom: 80px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.newsletter input {
  max-width: 400px;
  width: 100%;
  padding: 9px;
  font-size: 15px;
  color: #666;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.newsletter-button {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  background-color: #f99462;
}

.newsletter-button:hover {
  background-color: #ED6019;
}

/* Мобильная адаптация */
@media (max-width: 768px) {
  .newsletter-form-container {
    flex-direction: column;
    gap: 10px;
  }
}

.site-finish {
  font-size: 16px;
  color: #666;
}

/* Картинка для открытия фильтра */
.open-filter-img {
  width: 29px;
  height: 29px;
  margin-left: 20px;
  transform: translateY(0%);
  cursor: pointer;  /* Курсор как указатель */
  transition: transform 0.3s;
  fill: #333;  /* Задаем цвет для SVG */
  filter: brightness(0) saturate(20%) invert(70%) sepia(10%) hue-rotate(40deg);
  rotate: 90deg;
}

/* При наведении увеличиваем картинку */
.open-filter-img:hover {
  transform: scale(1.1);
}

/* Боковая панель с фильтром */
.filter-panel {
  position: fixed;
  top: 0;
  right: -400px; /* Панель скрыта справа */
  width: 400px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  z-index: 999;
  padding: 30px;
  box-sizing: border-box;
  overflow-y: auto;
}

.filter-panel.open {
  right: 0; /* Панель выезжает */
}

/* Контент внутри панели */
.filter-content {
  display: flex;
  flex-direction: column;
}

.filter-panel h2 {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: #333;
  margin-top: 50px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.price-range-label{
  display: block;
  font-size: 15px;
  font-weight: 400;
  margin-top: 35px;
  margin-bottom: 65px;
  color: #666;
  letter-spacing: 1px;
}

.year-range-label {
  display: block;
  font-size: 15px;
  font-weight: 400;
  margin-top: 45px;
  margin-bottom: 65px;
  color: #666;
  letter-spacing: 1px;
}

.price-wrapper {
  position: relative;
}

.year-wrapper {
  position: relative;
}

.price-wrapper .price-range-values {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.year-wrapper .year-range-values {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.price-range-values {
  position: absolute;
  top: 66%;
  font-size: 15px;
  letter-spacing: 0.3px;
  font-weight: 400;
  color: #333;
}

.year-range-values {
  position: absolute;
  top: 66%;
  font-size: 15px;
  letter-spacing: 0.3px;
  font-weight: 400;
  color: #333;
}

.price-range-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.year-range-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  width: 100%;
  outline: none;
  margin: auto;
  top: 0;
  bottom: 0;
  background: transparent;
  pointer-events: none;
}

.price-track {
  width: 100%;
  height: 8px;
  background: #ccc;
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.year-track {
  width: 100%;
  height: 8px;
  background: #ccc;
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 8px;
}

input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  height: 8px;
}

input[type="range"]::-ms-track {
  appearance: none;
  height: 8px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Для webkit-браузеров */
  width: 20px;
  height: 20px;
  background: #f99462; /* Цвет ползунка */
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ED6019; /* Бордер вокруг ползунка */
  margin-top: -6.2px;
  pointer-events: auto;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #f99462; /* Цвет ползунка */
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ED6019; /* Бордер вокруг ползунка */
  pointer-events: auto;
}

input[type="range"]::-ms-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: #f99462;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ED6019;
  pointer-events: auto;
}

input[type="range"]:active::-webkit-slider-thumb{
  background: #f99462;
  border: 2px solid #ED6019;
}

.filter-section .filter-button-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}

.clear-filter-button {
  margin-top: 80px;
  flex: 1; /* Каждая кнопка будет занимать равную долю пространства */
  padding: 10px 20px;
  background-color: #999;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  transition: background 0.3s;
}

.apply-filter-button {
  margin-top: 80px;
  flex: 1; /* Каждая кнопка будет занимать равную долю пространства */
  padding: 10px 20px;
  background-color: #f99462;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  transition: background 0.3s;
}

.clear-filter-button:hover {
  background-color: #ccc;
}

.apply-filter-button:hover {
  background-color: #ED6019;
}

/* Кнопка закрытия панели */
.close-filter-button {
  position: absolute;
  right: 20px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #ccc;
  margin-left: auto;
}

/* Стили для попапа */
.popup {
  display: none; /* Скрыть попап по умолчанию */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  justify-content: center;
  align-items: center;
  z-index: 9999; /* На передний план */
}

/* Стили для содержимого попапа */
.popup-content {
  background-color: #f8f8f8;
  padding: 10px 30px;
  border-radius: 5px;
  width: 580px;
  height: 370px;
  text-align: center;
}

.popup-text {
  font-size: 16px;
  color: #666;
  text-align: center;
  font-weight: 500;
  margin-bottom: 30px;
}

.popup .popup-button-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}


/* Кнопка для закрытия попапа */
.deny-popup-button {
  flex: 1; /* Каждая кнопка будет занимать равную долю пространства */
  padding: 10px 20px;
  background-color: #999;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  transition: background 0.3s;
}

.deny-popup-button:hover {
  background-color: #ccc;
}

.confirm-popup-button {
  flex: 1; /* Каждая кнопка будет занимать равную долю пространства */
  padding: 10px 20px;
  background-color: #f99462;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  transition: background 0.3s;
}

.confirm-popup-button:hover {
  background-color: #ED6019;
}
