html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.hidden,
[hidden] {
  display: none !important;
}

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]::after {
    content: " (" attr(href) ")";
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.header {
  padding: 35px 20px;
  text-align: center;
  background-color: #f8f8f8;
}
.header-title {
  margin-bottom: -5px;
  text-decoration: none;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #333;
  text-transform: uppercase;
}
.header-tagline {
  margin-bottom: 80px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #666;
  text-transform: uppercase;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 0;
  text-transform: uppercase;
}
.nav-list-link {
  padding: 5px 10px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  transition: color 0.3s;
}
.nav-list-link:hover {
  color: #ED6019;
}

.page-header {
  position: relative;
  margin: 40px auto;
  text-align: center;
}
.page-header-title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #f99462;
  text-transform: uppercase;
}

.store-search-container, .library-search-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.store-search-input, .library-search-input {
  max-width: 400px;
  width: 100%;
  padding: 9px;
  font-size: 15px;
  color: #666;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  background-color: #f8f8f8;
}

.store-search-button, .library-search-button {
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  background-color: #f99462;
}
.store-search-button:hover, .library-search-button:hover {
  background-color: #ED6019;
}

.open-filter-img {
  width: 29px;
  height: 29px;
  margin-left: 20px;
  cursor: pointer;
  transition: transform 0.3s;
  fill: #333;
  filter: brightness(0) saturate(20%) invert(70%) sepia(10%) hue-rotate(40deg);
  transform: translateY(0%);
  rotate: 90deg;
}
.open-filter-img:hover {
  transform: scale(1.1);
}

.filter-panel {
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100%;
  z-index: 999;
  padding: 30px;
  background-color: #fff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  transition: right 0.3s ease;
}
.filter-panel.open {
  right: 0;
}
.filter-panel-close {
  position: absolute;
  right: 20px;
  font-size: 24px;
  color: #ccc;
  border: none;
  background: transparent;
  cursor: pointer;
}

.filter-content {
  display: flex;
  flex-direction: column;
}
.filter-content h2 {
  margin-top: 50px;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  color: #333;
  text-transform: uppercase;
}

.range {
  position: relative;
}
.range-label {
  display: block;
  margin-top: 50px;
  margin-bottom: 65px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #666;
  text-transform: uppercase;
}
.range-values {
  position: absolute;
  margin-top: -50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 400;
  color: #333;
  letter-spacing: 1px;
}
.range-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 90px;
}

.range-container input {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  background: transparent;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  pointer-events: none;
}

.price-track, .year-track {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: #ccc;
}

.range-container input::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 8px;
}

.range-container input::-moz-range-track {
  -moz-appearance: none;
  height: 8px;
}

.range-container input::-ms-track {
  appearance: none;
  height: 8px;
}

.range-container input::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  margin-top: -6.2px;
  border: 2px solid #ED6019;
  border-radius: 50%;
  background: #f99462;
  cursor: pointer;
  -webkit-appearance: none;
  pointer-events: auto;
}

.range-container input::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 2px solid #ED6019;
  border-radius: 50%;
  background: #f99462;
  cursor: pointer;
  -webkit-appearance: none;
  pointer-events: auto;
}

.range-container input::-ms-thumb {
  width: 20px;
  height: 20px;
  border: 2px solid #ED6019;
  border-radius: 50%;
  background: #f99462;
  cursor: pointer;
  appearance: none;
  pointer-events: auto;
}

.range-container input:active::-webkit-slider-thumb {
  background: #f99462;
  border: 2px solid #ED6019;
}

.filter-button {
  display: flex;
  width: 100%;
  margin-top: 50px;
  justify-content: space-between;
  gap: 10px;
}
.filter-button-clear {
  flex: 1;
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  background-color: #999;
}
.filter-button-clear:hover {
  background-color: #ccc;
}
.filter-button-apply {
  flex: 1;
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  background-color: #f99462;
}
.filter-button-apply:hover {
  background-color: #ED6019;
}

.list, .book-list, .customer-book-list, .customer-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 3rem;
  padding-right: 3rem;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
}

.customer-list {
  margin-top: -10px;
  padding-bottom: 50px;
}

.book-list, .customer-book-list {
  padding-bottom: 30px;
}

.customer-book-list .author {
  padding-bottom: 7px;
}

.card {
  position: relative;
  width: 370px;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  overflow: hidden;
}
.card .image, .card .image-placeholder, .card .video {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
}
.card .image-placeholder {
  background-color: #fff;
}
.card .video {
  object-position: top;
}
.card h3 {
  position: relative;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #333;
  text-transform: uppercase;
}
.card h3::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ED6019;
}
.card .author, .card .price, .card .balance {
  margin: 0;
  line-height: 2;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.card .price, .card .balance {
  padding-bottom: 6px;
  font-weight: 700;
}
.card .book-button, .card .customer-button {
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  background-color: #f99462;
}
.card .book-button:hover, .card .customer-button:hover {
  background-color: #ED6019;
}

.download-catalogue {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 30px auto 60px;
}

.catalogueButton {
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  background-color: #f99462;
}
.catalogueButton:hover {
  background-color: #ED6019;
}

.add-book {
  width: 100%;
  max-width: 600px;
  margin: 30px auto 60px;
  padding: 12px 20px 38px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
}
.add-book-title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #f99462;
  text-transform: uppercase;
}
.add-book-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.add-book-form input {
  max-width: 500px;
  width: 100%;
  margin-bottom: 17px;
  padding: 10px;
  font-size: 15px;
  color: #666;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-container {
  display: flex;
  max-width: 500px;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}
.add-container .add-image, .add-container .add-button, .add-container .clear-form {
  flex: 1;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  background-color: #f99462;
}
.add-container .add-image:hover, .add-container .add-button:hover, .add-container .clear-form:hover {
  background-color: #ED6019;
}

.footer {
  padding: 35px 20px;
  text-align: center;
  background-color: #f8f8f8;
}
.footer-title {
  margin-bottom: -5px;
  font-size: 46px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #333;
  text-transform: uppercase;
}
.footer-tagline {
  margin-bottom: 80px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #666;
  text-transform: uppercase;
}

.newsletter-title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #333;
  text-transform: uppercase;
}
.newsletter-text {
  margin-bottom: 20px;
  font-size: 16px;
  color: #666;
}
.newsletter-form-container {
  margin-bottom: 80px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.newsletter input {
  max-width: 400px;
  width: 100%;
  padding: 9px;
  font-size: 15px;
  color: #666;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.newsletter-button {
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  background-color: #f99462;
}
.newsletter-button:hover {
  background-color: #ED6019;
}
.newsletter-message {
  margin-top: -60px;
  font-size: 16px;
  color: #666;
}

.site-finish {
  font-size: 16px;
  color: #666;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.popup-content {
  width: 580px;
  height: 370px;
  padding: 10px 30px;
  text-align: center;
  border-radius: 5px;
  background-color: #f8f8f8;
}
.popup-text {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 500;
  color: #666;
}
.popup-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.deny-popup {
  flex: 1;
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  background-color: #999;
}
.deny-popup:hover {
  background-color: #ccc;
}

.confirm-popup {
  flex: 1;
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  background-color: #f99462;
}
.confirm-popup:hover {
  background-color: #ED6019;
}

/*# sourceMappingURL=style.css.map */
