// Общие настройки IDEA
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.hidden,
[hidden] {
  display: none !important;
}

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

@media only screen and (min-width: 35em) {

}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {

}

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

// Частные настройки сайта
// Переменные
$primary-color: #f99462;
$secondary-color: #ED6019;
$dark-text-color: #333;
$light-text-color: #666;
$border-color: #ccc;
$white-color: #fff;
$background-color: #f8f8f8;

$font-size-button: 14px;
$font-size-input: 15px;
$font-size-tagline: 16px;
$font-size-name: 18px;
$font-size-title: 24px;

$font-weight-light: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$letter-spacing-small: 1px;
$letter-spacing-big: 2px;

$main-text-align: center;
$main-border-radius: 5px;
$main-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
$main-text-transform: uppercase;

// Миксин для кнопок
@mixin button-style($bg-color, $hover-bg-color) {
  padding: 10px 20px;
  text-align: $main-text-align;
  font-size: $font-size-button;
  font-weight: $font-weight-medium;
  letter-spacing: $letter-spacing-small;
  text-transform: $main-text-transform;
  color: $white-color;
  border: none;
  border-radius: $main-border-radius;
  cursor: pointer;
  transition: background 0.3s;
  background-color: $bg-color;

  &:hover {
    background-color: $hover-bg-color;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

// Верхний колонтитул
.header {
  padding: 35px 20px;
  text-align: $main-text-align;
  background-color: $background-color;

  &-title {
    margin-bottom: -5px;
    text-decoration: none;
    font-size: 56px;
    font-weight: $font-weight-bold;
    letter-spacing: $letter-spacing-big;
    color: $dark-text-color;
    text-transform: $main-text-transform;
  }

  &-tagline {
    margin-bottom: 80px;
    font-size: $font-size-tagline;
    font-weight: $font-weight-light;
    letter-spacing: $letter-spacing-small;
    color: $light-text-color;
    text-transform: $main-text-transform;
  }
}

// Меню навигации верхнего и нижнего колонтитулов
.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 0;
  text-transform: $main-text-transform;

  &-link {
    padding: 5px 10px;
    text-decoration: none;
    font-size: $font-size-tagline;
    font-weight: $font-weight-medium;
    color: $dark-text-color;
    transition: color 0.3s;

    &:hover {
      color: $secondary-color;
    }
  }
}

// Заголовки страниц
.page-header {
  position: relative;
  margin: 40px auto;
  text-align: $main-text-align;

  &-title {
    font-size: $font-size-title;
    font-weight: $font-weight-bold;
    letter-spacing: $letter-spacing-big;
    color: $primary-color;
    text-transform: $main-text-transform;
  }
}

// Поиск книг в магазине и библиотеке
.store-search-container, .library-search-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.store-search-input, .library-search-input {
  max-width: 400px;
  width: 100%;
  padding: 9px;
  font-size: $font-size-input;
  color: $light-text-color;
  border: 1px solid $border-color;
  border-radius: $main-border-radius;
  outline: none;
  background-color: $background-color;
}

.store-search-button, .library-search-button {
  @include button-style($primary-color, $secondary-color);
}

// Фильтр
.open-filter-img {
  width: 29px;
  height: 29px;
  margin-left: 20px;
  cursor: pointer;
  transition: transform 0.3s;
  fill: $dark-text-color;
  filter: brightness(0) saturate(20%) invert(70%) sepia(10%) hue-rotate(40deg);
  transform: translateY(0%);
  rotate: 90deg;

  &:hover {
    transform: scale(1.1);
  }
}

.filter-panel {
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100%;
  z-index: 999;
  padding: 30px;
  background-color: $white-color;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  transition: right 0.3s ease;

  &.open {
    right: 0;
  }

  &-close {
    position: absolute;
    right: 20px;
    font-size: $font-size-title;
    color: $border-color;
    border: none;
    background: transparent;
    cursor: pointer;
  }
}

.filter-content {
  display: flex;
  flex-direction: column;

  h2 {
    margin-top: 50px;
    font-size: 22px;
    font-weight: $font-weight-bold;
    letter-spacing: $letter-spacing-small;
    text-align: $main-text-align;
    color: $dark-text-color;
    text-transform: $main-text-transform;
  }
}

.range {
  position: relative;

  &-label {
    display: block;
    margin-top: 50px;
    margin-bottom: 65px;
    font-size: $font-size-tagline;
    font-weight: $font-weight-light;
    letter-spacing: $letter-spacing-small;
    color: $light-text-color;
    text-transform: $main-text-transform;
  }

  &-values {
    position: absolute;
    top: 66%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: $font-size-input;
    font-weight: $font-weight-light;
    color: $dark-text-color;
    letter-spacing: $letter-spacing-small;
  }

  &-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.range-container input{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  background: transparent;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  pointer-events: none;
}

.price-track, .year-track {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 8px;
  border-radius: $main-border-radius;
  background: $border-color;
}

.range-container input::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 8px;
}

.range-container input::-moz-range-track {
  -moz-appearance: none;
  height: 8px;
}

.range-container input::-ms-track {
  appearance: none;
  height: 8px;
}

.range-container input::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  margin-top: -6.2px;
  border: 2px solid $secondary-color;
  border-radius: 50%;
  background: $primary-color;
  cursor: pointer;
  -webkit-appearance: none;
  pointer-events: auto;
}

.range-container input::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 2px solid $secondary-color;
  border-radius: 50%;
  background: $primary-color;
  cursor: pointer;
  -webkit-appearance: none;
  pointer-events: auto;
}

.range-container input::-ms-thumb {
  width: 20px;
  height: 20px;
  border: 2px solid $secondary-color;
  border-radius: 50%;
  background: $primary-color;
  cursor: pointer;
  appearance: none;
  pointer-events: auto;
}

.range-container input:active::-webkit-slider-thumb {
  background: $primary-color;
  border: 2px solid $secondary-color;
}

.filter-button {
  display: flex;
  width: 100%;
  margin-top: 70px;
  justify-content: space-between;
  gap: 10px;

  &-clear {
    flex: 1;
    @include button-style(#999, $border-color);
  }

  &-apply {
    flex: 1;
    @include button-style($primary-color, $secondary-color);
  }
}

// Список клиентов и книг
.list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 3rem;
  padding-right: 3rem;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
}

.client-list {
  @extend .list;
  margin-top: -10px;
  padding-bottom: 50px;
}

.book-list, .client-book-list {
  @extend .list;
  padding-bottom: 30px;
}

.client-book-list .author {
  padding-bottom: 7px;
}

// Карточки клиентов и книг
.card {
  position: relative;
  width: 370px;
  padding: 20px;
  text-align: $main-text-align;
  border: 1px solid $border-color;
  border-radius: $main-border-radius;
  box-shadow: $main-box-shadow;
  background-color: $white-color;
  overflow: hidden;

  .image, .image-placeholder, .video {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: $main-border-radius;
  }

  .image-placeholder {
    background-color: $white-color;
  }

  .video {
    object-position: top;
  }

  h3 {
    position: relative;
    padding-bottom: 5px;
    font-size: $font-size-name;
    font-weight: $font-weight-bold;
    letter-spacing: $letter-spacing-small;
    color: $dark-text-color;
    text-transform: $main-text-transform;

    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $secondary-color;
    }
  }

  .author, .price, .balance {
    margin: 0;
    line-height: 2;
    font-size: $font-size-button;
    letter-spacing: $letter-spacing-small;
    text-transform: $main-text-transform;
  }

  .price, .balance {
    padding-bottom: 6px;
    font-weight: $font-weight-bold;
  }

  .book-button, .client-button {
    @include button-style($primary-color, $secondary-color);
    padding: 8px 20px !important;
  }
}

// Секция загрузки каталога
.download-catalogue {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 30px auto 60px;
}

.catalogueButton {
  @include button-style($primary-color, $secondary-color);
}

// Форма добавления книги
.add-book {
  width: 100%;
  max-width: 600px;
  margin: 30px auto 60px;
  padding: 12px 20px 38px;
  text-align: $main-text-align;
  border-radius: $main-border-radius;
  box-shadow: $main-box-shadow;
  background-color: $background-color;

  &-title {
    font-size: $font-size-title;
    font-weight: $font-weight-bold;
    letter-spacing: $letter-spacing-big;
    color: $primary-color;
    text-transform: $main-text-transform;
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.add-book-form input {
  max-width: 500px;
  width: 100%;
  margin-bottom: 17px;
  padding: 10px;
  font-size: $font-size-input;
  color: $light-text-color;
  border: 1px solid $border-color;
  border-radius: $main-border-radius;
}

.add-container {
  display: flex;
  max-width: 500px;
  width: 100%;
  justify-content: space-between;
  gap: 10px;

  .add-image, .add-button, .clear-form {
    flex: 1;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include button-style($primary-color, $secondary-color);
  }
}

// Нижний колонтитул
.footer {
  padding: 35px 20px;
  text-align: $main-text-align;
  background-color: $background-color;

  &-title {
    margin-bottom: -5px;
    font-size: 46px;
    font-weight: $font-weight-bold;
    letter-spacing: $letter-spacing-small;
    color: $dark-text-color;
    text-transform: $main-text-transform;
  }

  &-tagline {
    margin-bottom: 80px;
    font-size: $font-size-tagline;
    font-weight: $font-weight-light;
    letter-spacing: $letter-spacing-small;
    color: $light-text-color;
    text-transform: $main-text-transform;
  }
}

// Подписка на рассылку
.newsletter {
  &-title {
    margin-bottom: 10px;
    font-size: $font-size-title;
    font-weight: $font-weight-bold;
    letter-spacing: $letter-spacing-small;
    color: $dark-text-color;
    text-transform: $main-text-transform;
  }

  &-text {
    margin-bottom: 20px;
    font-size: $font-size-tagline;
    color: $light-text-color;
  }

  &-form-container {
    margin-bottom: 80px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  & input {
    max-width: 400px;
    width: 100%;
    padding: 9px;
    font-size: $font-size-input;
    color: $light-text-color;
    border: 1px solid $border-color;
    border-radius: $main-border-radius;
  }

  &-button {
    @include button-style($primary-color, $secondary-color);
  }

  &-message {
    margin-top: -60px;
    font-size: $font-size-title;
    font-weight: $font-weight-bold;
    letter-spacing: $letter-spacing-small;
    color: $dark-text-color;
    text-transform: $main-text-transform;
  }
}

.site-finish {
  font-size: $font-size-tagline;
  color: $light-text-color;
}

// Стили всплывающего окна
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 9999;

  &-content {
    width: 580px;
    height: 370px;
    padding: 10px 30px;
    text-align: $main-text-align;
    border-radius: $main-border-radius;
    background-color: $background-color;
  }

  &-text {
    margin-bottom: 30px;
    font-size: $font-size-tagline;
    font-weight: $font-weight-medium;
    color: $light-text-color;
  }

  &-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
}

.deny-popup {
  flex: 1;
  @include button-style(#999, $border-color);
}

.confirm-popup {
  flex: 1;
  @include button-style($primary-color, $secondary-color);
}




