.filterPanel {
  @apply fixed top-0 right-[-400px] w-[400px] h-full z-[999] p-[30px] bg-white shadow-[-2px_0_10px_rgba(0,0,0,0.1)] overflow-y-auto transition-all duration-[0.3s] ease-in-out;
}

.filterPanel.open {
  @apply right-0;
}

.filterPanelClose {
  @apply absolute right-[20px] text-[24px] text-[#ccc] border-none bg-transparent cursor-pointer;
}

.filterContent {
  @apply flex flex-col;
}

.filterTitle {
  @apply mt-[50px] text-[22px] font-[700] tracking-[1px] text-[#333] text-center uppercase;
}

.range {
  @apply relative;
}

.rangeLabel {
  @apply block mt-[50px] mb-[65px] text-[16px] font-[400] tracking-[1px] text-[#666] uppercase;
}

.rangeValues {
  @apply absolute mt-[-50px] w-full flex justify-between text-[15px] font-[400] text-[#333] tracking-[1px];
}

.rangeContainer {
  @apply relative w-full h-full mb-[90px];
}

.filterInput {
  @apply absolute top-0 bottom-0 w-full m-auto bg-transparent outline-none pointer-events-none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.priceTrack, .yearTrack {
  @apply absolute top-0 bottom-0 m-auto w-full h-[8px] rounded-[5px] bg-[#ccc];
}

.filterInput::-webkit-slider-runnable-track {
  @apply h-[8px];
  -webkit-appearance: none;
}

.filterInput::-webkit-slider-thumb {
  @apply w-[20px] h-[20px] mt-[-6.2px] rounded-full bg-[#f99462] cursor-pointer pointer-events-auto;
  -webkit-appearance: none;
  border: 2px solid #ED6019;
}

.filterButton {
  @apply flex w-full mt-[50px] justify-between gap-[10px];
}

.filterButtonClear {
  @apply flex-1 py-[10px] px-[20px] text-center text-[14px] font-[500] tracking-[1px] uppercase text-white border-none rounded-[5px] cursor-pointer transition-all bg-[#999] hover:bg-[#ccc];
}

.filterButtonApply {
  @apply flex-1 py-[10px] px-[20px] text-center text-[14px] font-[500] tracking-[1px] uppercase text-white border-none rounded-[5px] cursor-pointer transition-all bg-[#f99462] hover:bg-[#ED6019];
}
