.pageHeader {
  position: relative;
  margin: 40px auto;
  text-align: center;
}

.pageHeaderTitle {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #f99462;
  text-transform: uppercase;
}

.bookList {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
  padding-left: 3rem;
  padding-right: 3rem;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
}

.informMessage {
  font-size: 16px;
  color: #666;
}
